/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.error-message {
  color: #c13e3a;
  border-color: #c13e3a;
  border-width: 1px;
  border-radius: 10px;
  background-color: #f9d0cf;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-top: 10px;
}

.success-message {
  color: #07824f;
  border-color: #07824f;
  border-width: 1px;
  border-radius: 10px;
  background-color: #d1f9e9;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 60px;
}

.emphasis {
  font-weight: bold;
}
